body{
  overflow-x: hidden;
}
.background{
  position: relative;
  animation: 4s start;
}
.curtains{
  width: 100%;
  height: 100%;
}
.textBack{
  position: absolute;
  color: rgb(222, 204, 110);
  text-shadow: 0px 0px 10px rgb(136, 124, 62);
  left: -350px;
  top: 220px;
  font-size: 40px;
  cursor: pointer;
}
.textBack:hover{
    text-shadow: 0px 0px 30px rgb(136, 124, 62);
}
