.textMother{
  position: absolute;
  color: rgb(222, 204, 110);
  text-shadow: 0px 0px 10px rgb(136, 124, 62);
  top: -140px;
  left: 13px;
}
.Mother{
  position: absolute;
  left: -65px;
}
.frameMother{
  position: relative;
  width: 316px;
  height: 340px;
  left: 66px;
  top: -40px;
  z-index: 20;
}
.photoMother{
  position: absolute;
  width: 83%;
  height: 83%;
  left: 105px;
  top: 0px;
  z-index: 10;
}
