.textMe{
  position: absolute;
  color: rgb(222, 204, 110);
  text-shadow: 0px 0px 10px rgb(136, 124, 62);
  top: -140px;
  left: 70px;
}
.IsMe{
  position: absolute;
  left: -65px;
}
.frameMe{
  position: relative;
  width: 450px;
  height: 340px;
  left: 4px;
  top: -40px;
  z-index: 20;
}
.photoMe{
  position: absolute;
  width: 83%;
  height: 83%;
  left: 56px;
  top: 0px;
  z-index: 10;
}
