.mainFrame{
    font-family: 'Lobster', cursive;
  position: relative;
  z-index: 100;
  top: -800px;
  left: 38%;
}
.mainText{
  position: absolute;
  color: rgb(222, 204, 110);
  text-shadow: 0px 0px 10px rgb(136, 124, 62);
  left: 100px;
  width: 200px;
  top: -100px;
}

.frame:hover{
  box-shadow: 0px 0px 30px 0px rgba(237, 230, 183, 0.7);
}

.grandfather{
  position: absolute;
  left: -65px;
}
.frame1{
  animation: frame  2s infinite ease-in-out;
  position: relative;
  width: 162px;
  height: 247px;
  left: -41px;
  top: 0px;
  z-index: 20;
}
.gf{
  position: absolute;
  width: 76%;
  height: 76%;
  left: -20px;
  top: 33px;
  z-index: 10;
}

.isMe{
  position: absolute;
  left: 155px;
}
.frame2{
  position: relative;
  width: 164px;
  height: 120px;
  left: -62px;
  top: 0;
  z-index: 11;
}
.me{
  position: absolute;
  width: 90%;
  height: 90%;
  left: -53px;
  top: 4px;
  z-index: 10;
}

.mother{
  position: absolute;
  left: 355px;
}
.frame3{
  position: relative;
  width: 186px;
  height: 220px;
  left: -62px;
  top: 0;
  z-index: 11;
}
.mth{
  position: absolute;
  width: 84%;
  height: 84%;
  left: -41px;
  top: 27px;
  z-index: 10;
}
