.text{
  position: absolute;
  color: rgb(222, 204, 110);
  text-shadow: 0px 0px 10px rgb(136, 124, 62);
  top: -140px;
  width: 400px;
  left: -20px;
}

.grandfather{
  position: absolute;
  left: -65px;
}
.frameGrandfather{
  position: relative;
  width: 250px;
  height: 370px;
  left: 100px;
  top: -60px;
  z-index: 20;
}
.photoGrandfather{
  position: absolute;
  width: 76%;
  height: 76%;
  left: 125px;
  top: -10px;
  z-index: 10;
}
